/* Left Align title */
.hx\:text-center {
    text-align: left !important;
}
/* Narrow the site title font */
.hx\:font-extrabold.hx\:inline.hx\:select-none {
  font-size: 1.2rem !important;
  font-weight: normal !important;
}